@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Amiri:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-amiri: "Amiri", serif;

  --color-primary: #006948;
  --color-primary-dark: #005137;
  --color-primary-container: #00855d;
  --color-secondary: #795900;
  --color-secondary-container: #ffc329;
  --color-secondary-fixed: #ffdf9f;
  
  --color-surface: #f5fbf5;
  --color-surface-dim: #d5dcd6;
  --color-surface-container-lowest: #ffffff;
  
  --radius-2xl: 1rem;
}

@layer components {
  .tactile-button {
    @apply transition-all duration-75 active:translate-y-[2px] active:border-b-0;
  }
}

body {
  @apply bg-surface text-[#171d19] font-sans;
}
